{% extends 'wrapper.html' %}
{% set t = table %}
{% block content %}
 <div class="container">
     <form class="m-1">
  <div class="form-group row">
    <div class="col text-center">
      <button class="btn btn-outline-primary m-1"><i class="far fa-plus-square"></i> Добавить запись</button>
    </div>
      <div class="col text-center">
      <button class="btn btn-outline-danger m-1"><i class="far fa-trash-alt"></i> Удалить</button>
    </div>
  </div>
</form>
<div class="table-responsive">
<table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                <input type="checkbox"id="selectall" onclick="toggle(this)">
            </th>
            {% for c in columns %}
                <th>{{c}}</th>
            {% endfor %}
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td><input type="checkbox" name="select" id="{{row.index}}"></td>
                    {% for c in columns %}
                        <td>{{row|attr(c)}}</td>
                    {% endfor %}
                    <td><button class="btn btn-outline-success"><i class="fas fa-edit"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% for page_num in range(last_page) %}
    <li class="page-item"><a class="page-link" href="{{ url_for('page', table=t, p=page_num+1) }}">{{page_num + 1}}</a></li>
      {% endfor %}
  </ul>
</nav>
</div>
 </div>
{% endblock %}